.delete {
  width: 50px;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: rgb(248, 73, 111);
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 2px;
  border-radius: 12px;
  margin-top: 20px;
  padding: 10px 15px;
  width: 180px;
  border-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.button:hover {
  background-color: rgb(209, 62, 94);
  font-style: italic;
}