.card {
    margin-top: 15px;   
    box-shadow: 0 5px 10px 0 black;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 40%;
    margin: auto;
    text-align: center;
    padding: 1em;
    background-color: palegoldenrod;
  }

  /*
  .close {
    font-size: 1.5em;
    float: right;
    cursor: pointer;
  }
  */
  
  .title {
    color: lightseagreen;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 27.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .temp {
    font-size: 32px;
    line-height: 12px;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  body {
    background-color: lightskyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }